.title {
    font-size: 50px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.subtitle {
    font-size: 25px;
    -unity-font-style: bold;
}

.center {
    margin: auto;
    width: 33%;
    padding: 10px;
}

Slider {
    font-size: 20px;
}

Button {
    font-size: 20px;
}
